<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Table Tennis Leaderboard</title>
</head>
<body>
    <h2>Table Tennis Leaderboard</h2>
    <form action="{{ url_for('add_match') }}" method="POST">
        <input type="text" name="player_1" placeholder="Player Name 1" required>
        <input type="text" name="player_2" placeholder="Player Name 2" required>
        <input type="number" name="score_1" placeholder="Score 1" required>
        <input type="number" name="score_2" placeholder="Score 2" required>
        <input type="date" name="date" required>
        <a href="/add">
            <button type="submit">Add Match</button>
        </a>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Filter
                    <form action="/" method="GET">
                        Speler <input type="text" name="player">
                        Datum <input type="date" name="date">
                        <button type="submit" class="btn btn-success">Filter</button>
                    </form>
                </th>
            </tr>    

            <tr>
                <th>Player_1</th>
                <th>Player_2</th>
                <th>Score_1</th>
                <th>Score_2</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in match_history_table %}
                {% if match_id == entry.match_id %}
                <tr>
                    <form action="{{ url_for('update_item', match_id = entry.match_id) }}" method="POST">
                    <td><input type="text" name="player_1" placeholder="{{ entry.player_1 }}"></td> 
                    <td><input type="text" name="player_2" placeholder="{{ entry.player_2 }}"></td> 
                    <td><input type="number" name="score_1" placeholder="{{ entry.score_1 }}"></td> 
                    <td><input type="number" name="score_2" placeholder="{{ entry.score_2 }}"></td> 
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-success">Save</button>
                        <a href="/" class="btn btn-danger">Annuleren</a>
                    </td>
                    </form>

                </tr>
                {% else %}
                <tr>
                    <td>{{ entry.player_1 }}</td>
                    <td>{{ entry.player_2 }}</td>
                    <td>{{ entry.score_1 }}</td>
                    <td>{{ entry.score_2 }}</td>
                    <td> {{ entry.date }} </td>
                    <td>
                        <a href="{{ invullen(entry.match_id) }}">
                            <button type="submit" class="btn btn-info">Edit</button>
                        </a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        
        </tbody> 
     </table>

     <table class="table">
        <thead>
            <tr>
                <th>Player</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in Player_rating %}
                <tr>
                    <td>{{ entry.user_id }}</td>
                    <td>{{ entry.rating }}</td>
                </tr>
            {% endfor %}
        </tbody>

</body>
</html>
