<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Table Tennis Leaderboard</title>
</head>
<body>
    <h1>Table Tennis Leaderboard</h1>
    <form action="{{ url_for('add_match') }}" method="POST">
        <input type="text" name="player_1" placeholder="Player Name 1" required>
        <input type="text" name="player_2" placeholder="Player Name 2" required>
        <input type="number" name="score_1" placeholder="Score 1" required>
        <input type="number" name="score_2" placeholder="Score 2" required>
        <button type="submit">Add Match</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Player_1</th>
                <th>Player_2</th>
                <th>Score_1</th>
                <th>Score_2</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            <!-- Hier wordt de tabel opeghaald die in de return statement 
            van def index staat dit heet ook wel een liquid tag
            -->
            {% for entry in leaderboard %}
                <tr>
                    <td>{{ entry.player_1 }}</td>
                    <td>{{ entry.player_2 }}</td>
                    <td>{{ entry.score_1 }}</td>
                    <td>{{ entry.score_2 }}</td>
                    <td> {{ entry.date }} </td>
                    <td>
                        <a href="/update/{{ entry.match_id }}">
                        <button type="button">Edit</button>
                        </a>
                    </td>
   
                </tr>
            {% endfor %}
        </tbody> 
     </table>
</body>
</html>
