<!-- 
    <div class="scroll-homepage mt-2">
        <table class="table table-sm">
            <thead class="sticky-head table-dark">
                <tr>
                    <th>Player</th>
                    <th>Average score</th>
                    <th>Wins</th>
                    <th>Losses</th>
                </tr>
            </thead>
            <tbody>
                {% for index, row in stats.iterrows(): %}
                    <tr>
                        <td> {{ row['Player']}} </td>
                        <td>{{ row['Average score'] }}</td>
                        <td>{{ row['Rating'] }}</td>
                        <td>{{ row['Wins'] }}</td>
                        <td>{{ row['Losses'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
-->