body {
    height: 100%;
    padding: 20px;
    background-color: #f4f4f4;
}
html {
    height: 100%;
}

.scroll-homepage {
    max-height: calc((100% - 189px) / 2); 
    overflow: auto
}

.table {
    margin-bottom: 0 !important;
}

.fixed-table {
    table-layout: fixed
}

.sticky-head { 
    position: sticky; 
    top: 0; 
    left: 0
}